extends layout

block extraHeader
    <script src="/js/jquery-2.1.3.min.js"></script>

block content
    .container-fluid
        .row
            .col-xs-10.col-sm-6.col-md-4.center.fondo
                h1 Asignaci贸n buses -  rutas
                br
                h1 Rutas
                br
                table(align="center" border="1")
                
                    tr
                        td  C贸digo:
                        td  Origen:
                        td  Destino:
                    
                    each ruta, i in rutas
                        tr
                            td !{JSON.parse(JSON.stringify(ruta)).CODIGO}
                            td !{JSON.parse(JSON.stringify(ruta)).ORIGEN}
                            td !{JSON.parse(JSON.stringify(ruta)).DESTINO}
                br
                h1 Buses
                br
                table(align="center" border="1")
                
                    tr
                        td  C贸digo:
                        td  Placa:
                        td  Tipo:
                        td  Capacidad:
                    
                    each bus, i in buses
                        tr
                            td !{JSON.parse(JSON.stringify(bus)).BUS}
                            td !{JSON.parse(JSON.stringify(bus)).PLACA}
                            td !{JSON.parse(JSON.stringify(bus)).TIPO}
                            td !{JSON.parse(JSON.stringify(bus)).CAPACIDAD}
                br
                form.form-nuevo-buses.text-center(action="/relacionRutaBus", method="post")
                    br
                    br
                    label Ruta:
                        select(name="rutaEscogida" required)
                            each ruta, i in rutas
                                option(value=JSON.parse(JSON.stringify(ruta)).CODIGO) !{JSON.parse(JSON.stringify(ruta)).CODIGO}
                    br
                    br
                    label Bus:
                        select(name="busEscogido" required)
                            each bus, i in buses
                                option(value=JSON.parse(JSON.stringify(bus)).BUS) !{JSON.parse(JSON.stringify(bus)).BUS}
                    br
                    br
                    button.btn.btn-large.btn-primary(type="submit") Asignar ruta a bus
                    br
                    br
                    
                a(href='/') Cerrar sesi贸n
